<h1>Actor #<%= @the_actor.id %> details</h1>

<a href="/actors">Go back</a>

<hr>

<dl>
    <dt>Name</dt>
    <dd><%= @the_actor.name %></dd>

    <dt>Dob</dt>
    <dd><%= @the_actor.dob %></dd>

    <dt>Bio</dt>
    <dd><%= @the_actor.bio %></dd>

    <dt>Image</dt>
    <dd><img src="<%= @the_actor.image %>" width="250"></dd>

    <dt>Created at</dt>
    <dd><%= @the_actor.created_at %></dd>

    <dt>Updated at</dt>
    <dd><%= @the_actor.updated_at %></dd>
</dl>
<hr>

<h1>Filmography</h1>

<% matching_actor = Character.where({ :actor_id => @the_actor.id }) %>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Character name</th>
        <th></th>
    </tr>

    <% matching_actor.each do |a_character| %>
    <tr>
        <td>
            <% example = Movie.where({ :id => a_character.movie_id }) %>
            <% the_movie = example.at(0) %>
            <%= the_movie.title %>
        </td>
        <td>
            <% example = Movie.where({ :id => a_character.movie_id }) %>
            <% the_movie = example.at(0) %>
            <%= the_movie.year %>
        </td>
        <td>
            <% example = Movie.where({ :id => a_character.movie_id }) %>
            <% the_movie = example.at(0) %>
            <% example_2 = Director.where({ :id => the_movie.director_id }) %>
            <% the_director = example_2.at(0) %>
            <%= the_director.name %>
        </td>
        <td><%= a_character.name %></td>
        <td>
            <% example = Movie.where({ :id => a_character.movie_id }) %>
            <% the_movie = example.at(0) %>
            <a href="/movies/<%= the_movie.id %>">Show details</a>
        </td>
    </tr>
    <% end%>

</table>